*{
    margin: 0;
    padding: 0;
}

.todoKarte{
    margin: 100px auto;


    height: 300px;
    width: 250px;
    border: 1px black solid;
}

.weekday{
    display: flex;
    justify-content: center;
    height: 35px;
}

.weekday h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

.addTask-container{
    background-color: gainsboro;
    border-top: 1px black solid;
    border-bottom: 1px black solid;

    display: flex;
    padding: .5rem;
}

.addTask-btn{
    height: 24px;
    width: 24px;
    background-color: gainsboro;
    border: 1px black solid;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: .5rem;
}

.addTask-btn:hover{
    cursor: pointer;
}

.addTask-container form{
    display: flex;
    align-items: center;
    width: 202px;
}

.addTask-container form input{
    width: 100%;
    border: none;
    border-bottom: 1px black solid;
    background-color: gainsboro;
}

.addTask-container form input:focus{
    outline: none;
}

.todos-container{
    width: 248px;
    height: 223px;
    overflow: auto;
    padding-right: 2px;
}

.todos-container::-webkit-scrollbar{
    width: 2px;
}

.todos-container::-webkit-scrollbar-thumb{
    background-color: black;
}

.todos{
    display: flex;
    align-items: center;
    padding: .5rem;
    gap: 0;

    min-height: 32px;
}


.taskCompleted-btn{
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px black solid;
    border-radius: 50%;
}

.taskCompleted-btn:hover{
    cursor: pointer;
}

.taskCompleted-circle{
    height: 10px;
    width: 10px;
    
    border-radius: 50%;
    background-color: black;
}

.markTaskComplete{
    text-decoration: line-through;
}

.task{
    width: 156px;
    padding: 0 8px;

    word-wrap: break-word;
}

.positionUNDdelete-container{
    display: flex;
    align-items: center;
}

.position-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.divider-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divider{
    height: 2px;
    width: 90%;

    border-top: 3px dotted gray;
}

.hidden{
    display: none;
}

.show{
    display: block;
}

